@import url(./styles/styles.scss);
:root{
  --primary:rgb(23, 23, 29) ;
  --secondary:rgb(193, 35, 35);
  --secondary2:hsla(0, 69%, 45%, 0.246);
  --cream:rgb(255, 255, 255);
  --slim_grey:rgb(70, 70, 70);
  --slim_grey2:rgb(104, 104, 104);
  --cream_opc:rgba(239, 239, 239, 0.074);
  --cream_opc3:rgba(191, 191, 191, 0.907);
}
.MuiPaper-root{
  background-color: rgba(0, 0, 0, 0.379) !important;
  color: var(--cream) !important;
  .MuiInputBase-formControl{
    background-color: var(--primary);
    *{
      color: var(--cream) !important;
    }
  }
  button{
    background: none !important;
    color: var(--primary) !important;
    background-color: rgb(188, 188, 188) !important;
  }
  button:hover{
    background-color: var(--primary) !important;
    color: var(--cream) !important;
  }
}
::-webkit-scrollbar{
  background-color: rgba(255, 0, 0, 0);
  width: 5px;
  height: 5px;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(45deg,var(--cream_opc),transparent,var(--cream_opc));
  background-color: var(--cream_opc);
  transition: 1s ease-in-out;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(45deg,var(--cream_opc),var(--secondary),var(--cream_opc));
  background-color: var(--secondary);
  border-radius: 50px;
}
.linear_text{
  color: transparent;
  background:linear-gradient(90deg, var(--secondary), var(--cream), var(--secondary));
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 900 !important;
}
::selection{
  color: var(--primary);
  background-color: var(--cream);
}